.swiper.hsu-slider {
  --hsu-height: 701px;
  width: 100%;
  min-height: var(--hsu-height);
}

@media(max-width: 480px) {
	.swiper.hsu-slider {
		--hsu-height: 741px;
	}
}

.hsu-slider * {
  font-family: inherit;
}

.hsu-slider .hsu-slides {
  display: flex;
}

.hsu-slider .hsu-slide {
  inset: 0;
  transition: opacity 0.6s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 90px 0px 0px 90px;
  opacity: 1;
  z-index: 2;
  position: relative;
  min-height: calc(var(--hsu-height) - 1px);
}

@media(max-width: 480px) {
  .hsu-slider .hsu-slide {
     padding: 90px 0px 0px 30px;
  }
}

.hsu-slider .hsu-bg {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
}

.hsu-slider .hsu-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

.hsu-slider .hsu-content {
  position: relative;
  z-index: 3;
  color: white;
  max-width: 1440px;
  height: auto;
  min-height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90vw;
  padding: 30px 0px 0px 0px;
}

@media(min-width: 1440px) {
  .hsu-slider .hsu-content {
	padding-left: 30px;  
  }
}

.hsu-slider .hsu-content h2 {
  font-size: 54px;
  line-height: 1.2;
  font-family: inherit;
  font-weight: 600;
  width: 80%;
  max-width: 891px;
}

@media(max-width: 1440px) {
  .hsu-slider .hsu-content h2 {
    font-size: 38px;
    line-height: 42px;
  }
}

@media(max-width: 768px) {	
	.hsu-slider .hsu-content {
		padding: 55px 0px 0px 0px;	
	}
	
	.hsu-slider .hsu-content h2 {
		font-size: 24px;
		line-height: 24px;
	}
}

.hsu-slider .hsu-shape-divider {
    background-image: url(../../assets/trazo-shape-divider.svg);
    width: 100%;
    min-height: 560px;
    position: absolute;
    z-index: 15;
    background-position: bottom;
    background-size: cover;
    bottom: 0;
    pointer-events: none;
    height: 100%;
    background-repeat: no-repeat;
}

@media(max-width: 1024px) {
	.hsu-slider .hsu-shape-divider {
		background-size: contain;
	}
}

.hsu-slider .hsu-btn {
  --c: #0D3755;
  color: #0D3755;
  background-color: #fff;
  font-size: 15px;
  border: 3px solid var(--c);
  border-radius: 25px;
  width: 12em;
  height: 3em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  margin-top: 20px;
  padding: 12px 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

@media(min-width: 1440px) {
	#slides-main-page .swiper-wrapper > div .elementor-slide-heading {
		font-size: 54px;
		line-height: 60px;
	}
}

.hsu-slider .swiper-pagination.swiper-pagination-bullets {
  bottom: 120px;
}

.hsu-slider .swiper-pagination.swiper-pagination-bullets>.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
}

.hsu-slider .swiper-pagination.swiper-pagination-bullets>.swiper-pagination-bullet-active {
  background-color: #71B54A;
}

.hsu-slider .swiper-pagination.swiper-pagination-bullets>.swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
	background-color: white !important;
    opacity: 1;
}

@media(max-width: 768px) {
  .hsu-slider .hsu-shape-divider {
    display: none;
  }

  .hsu-slider .swiper-pagination.swiper-pagination-bullets {
    bottom: 20px;
  }
}